<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class = "jumbotron" style="margin-top:10px;">
           <h2>Sample Header</h2>      
    </div>
</div>
<div class="container">
    <table>
        <tr>
            <th scope="col" colspan="5">SD BALANCES</th>        
        </tr>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
        <tr *ngFor = "let savings of sd">
            <td>{{savings.name}}</td>
            <td>{{savings.email}}</td>
            <td>{{savings.company}}</td>
            <td>{{savings.role}}</td>
            <td>Edit | Delete</td>
        </tr>
    </table>
</div>
